Source: xpilot-ng
Section: games
Priority: extra
Maintainer: Unofficial Debian XPilot <xpilot-hacks@lists.sourceforge.net>
Build-Depends: debhelper (>= 4.0.0), pkg-config, zlib1g-dev, libexpat1-dev, libsdl2-dev (>= 2.0.9), libsdl2-image-dev (>= 2.0.0), libsdl2-ttf-dev (>= 2.0.12), libgl-dev, libopenal-dev, libalut-dev
Standards-Version: 3.6.2

Package: xpilot-ng
Architecture: all
Depends: xpilot-ng-client-sdl (= ${Source-Version}), xpilot-ng-server (= ${Source-Version})
Description: Multi-player tactical game (NG version)
 XPilot is a multi-player tactical manoeuvring game. Each player controls
 a fighter equipped with a variety of weapons and power-ups. Players compete
 as teams or as individuals.
 .
 This package installs the SDL client and server.

Package: xpilot-ng-common
Architecture: all
Depends: ${misc:Depends}, adduser (>=3.34)
Suggests: xpilot-ng-server, xpilot-ng-client-sdl
Description: Common files for XPilot NG
 This package contains the data and documentation shared by the SDL client
 and server.

Package: xpilot-ng-client-sdl
Architecture: any
Depends: ${shlibs:Depends}, xpilot-ng-common (= ${Source-Version})
Description: SDL/OpenGL client for XPilot NG
 This package contains the SDL2 and OpenGL client used to play XPilot NG.

Package: xpilot-ng-server
Architecture: any
Depends: ${shlibs:Depends}, xpilot-ng-common (= ${Source-Version})
Description: Server for hosting XPilot NG games
 This package contains the server daemon used to host an XPilot NG game.
