.git
.build
artifacts
autom4te.cache
build
containers
images
XPilotInfinity.xcode

**/.deps
**/*.a
**/*.dll
**/*.exe
**/*.log
**/*.o
**/*.so
**/Makefile

config.h
config.status
src/common/version.h
src/common/version.h.template
src/common/version.txt
stamp-h1

vendor/*
!vendor/mingw/
vendor/mingw/*
!vendor/mingw/Makefile.am
!vendor/mingw/Makefile.in
!vendor/mtwister/
!vendor/mtwister/**
!vendor/wslay/
!vendor/wslay/**
