Makefile
.deps/
/config.h
/config.status
/src/client/sdl/xpilot-ng-sdl
/src/client/x11/xpilot-ng-x11
/src/mapedit/xpilot-ng-xp-mapedit
/src/replay/xpilot-ng-replay
/src/server/xpilot-ng-server
/stamp-h1
/build-sdl
/install-sdl
/build/
/.build/
/artifacts/

*.o
*.a
*.so
*.dll
*.exe
*.log
