Makefile
.deps/
/config.h
/config.status
/src/client/sdl/xpilot-infinity-sdl
/src/client/x11/xpilot-infinity-x11
/src/mapedit/xpilot-infinity-xp-mapedit
/src/replay/xpilot-infinity-replay
/src/server/xpilot-infinity-server
/src/common/version.h
/src/common/version.h.template
/src/common/version.txt
/stamp-h1
/build-sdl
/install-sdl
/build/
/.build/
/artifacts/

*.o
*.a
*.so
*.dll
*.exe
*.log
