[submodule "zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib
[submodule "vendor/sdl3/SDL"]
	path = vendor/sdl3/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/sdl3/SDL_image"]
	path = vendor/sdl3/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendor/sdl3/SDL_ttf"]
	path = vendor/sdl3/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "vendor/expat"]
	path = vendor/expat
	url = https://github.com/libexpat/libexpat.git
[submodule "vendor/wslay"]
	path = vendor/wslay
	url = https://github.com/tatsuhiro-t/wslay
