Makefile
.deps/
/config.h
/config.status
/autom4te.cache/
/config.h.in~
/configure~
/src/client/sdl/xpilot-ng-sdl
/src/server/xpilot-ng-server
/stamp-h1
/build-sdl
/install-sdl

*.o
*.a
*.so
*.dll
*.exe
*.log
